<!DOCTYPE html>
<html   
	lang="en"
	xmlns="www.thymeleaf.org"
>
<head>
	<div th:replace="~{fragments/bootstrap.html :: header}"></div>
	<title>Footer</title>
</head>
<body>
	<div th:fragment="footer">
		<div class="container-fluid bg-gradient mt-3 px-0">
			<footer class=" d-flex flex-wrap justify-content-between align-items-center py-3 px-2 my-0 border-top border-bottom border-secondary">
			<p class="col-md-4 mb-0">© Sorte_io</p>
		
			<a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
				<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
			</a>
		
			<ul class="nav col-md-4 justify-content-end">
				<a th:href="@{/home}" class="nav-link text-decoration-none text-white px-2"><p class="col-md-4 mb-0">Home</p></a>
			</ul>
			</footer>
		</div>
	</div>
</body>
</html>