<!DOCTYPE html>
<html 
	lang="en"
	xmlns="www.thymeleaf.org"
>
<head>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<div th:replace="~{fragments/bootstrap.html :: header}"></div>
	<title>Navbar</title>
</head>
<body>
	<div th:fragment="navbar">
		<div class="">
			<nav class="navbar navbar-dark bg-dark px-2 border-bottom border-secondary">
				<div>
					<ul class="nav float-left">
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fs-4 bi bi-list"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
								<li >
									<a class="dropdown-item" aria-current="page" th:href="@{/home}"><i class="bi bi-house"></i> Home</a>
									<hr class="dropdown-divider">
								</li>
								<li sec:authorize="hasRole('CONTROLLER')">
									<a class="dropdown-item" aria-current="page" th:href="@{/sorteios}"><i class="bi bi-currency-dollar"></i> Criar Sorteio</a>
									<hr class="dropdown-divider">
								</li>
								<li sec:authorize="hasRole('CONTROLLER')">
									<a class="dropdown-item" aria-current="page" th:href="@{/sorteios/sorteio}"><i class="bi bi-piggy-bank"></i> Meus Sorteios</a>
								</li>
								<li sec:authorize="hasRole('USER')">
									<a class="dropdown-item" aria-current="page" th:href="@{/apostas}"><i class="bi bi-receipt-cutoff"></i> Criar Aposta</a>
									<hr class="dropdown-divider">
								</li>
								<li sec:authorize="hasRole('USER')">
									<a class="dropdown-item" th:href="@{/apostas/aposta}"><i class="bi bi-wallet2"></i> Minhas Apostas</a>
								
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<span class="logo-bar"><img th:src="@{/images/sorteiologo.png}" ></span>
								
				<div>
					<ul class="nav float-right">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="bi bi-person-fill"></i>
								<span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
								<li sec:authorize="hasRole('USER')">
									<a class="dropdown-item" th:href="@{/pagamento}"><i class="bi bi-credit-card"></i> Inserir Saldo</a>
								</li>
								<hr class="dropdown-divider">
								<a class="dropdown-item" href="#" onclick="document.querySelector('#form-login').submit()" sec:authorize="isAuthenticated()">
									<i class="bi bi-box-arrow-right"></i> Logout
								</a>
								<form th:action="@{/logout}" id="form-login" method="post"></form>
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</nav>
	</div>
</body>
</html>
