<!DOCTYPE html>
<html   
    lang="en"
    xmlns="www.thymeleaf.org"
>
<head>
    <div th:replace="~{fragments/bootstrap.html :: header}"></div>
    <title>Tabela Preços</title>
</head>
<body>
	<div class="container-fluid pt-3" th:fragment="tabela-precos">
		<table class="table table-striped table-bordered">
			<thead class="table-light">
				<tr>
					<th class="text-center">Número de Dezenas</th>
					<th class="text-center">Preço da Aposta</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center text-light">6</td>
					<td class="text-center text-light">R$ 3,00</td>
				</tr>
				<tr>
					<td class="text-center text-light">7</td>
					<td class="text-center text-light">R$ 15,00</td>
				</tr>
				<tr>
					<td class="text-center text-light">8</td>
					<td class="text-center text-light">R$ 90,00</td>
				</tr>
				<tr>
					<td class="text-center text-light">9</td>
					<td class="text-center text-light">R$ 300,00</td>
				</tr>
				<tr>
					<td class="text-center text-light">10</td>
					<td class="text-center text-light">R$ 1200,00</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>