<!DOCTYPE html>
<html 
	lang="en"
	xmlns="www.thymeleaf.org"
>
<head>
	<div th:replace="~{fragments/bootstrap.html :: header}"></div>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
	<title>Sorte.io - Apostas</title>
</head>
<header>
	<div th:replace="~{fragments/navbar.html :: navbar}"></div>
</header>
<body class="bg-dark text-white">
	<div class="container mt-4 text-center">
		<div class="text-end">
			<a class="text-center btn btn-success btn-lg" th:href="@{/apostas}">
				Cadastro Apostas
			</a>
		</div>
		<h1 class="display-3 text-center text-white pb-2">Apostas</h1>

	</div>

	<div th:each="a : ${minhasApostas}">
		<p th:text="${a.numSelecionados}"></p>
	</div>
	
	<div class="fixed-bottom">
		<div th:replace="~{fragments/footer.html :: footer}"></div>
	</div>

</body>
</html>