<!DOCTYPE html>
<html
		lang="en"
		xmlns="www.thymeleaf.org"
>
<head>
	<div th:replace="~{fragments/bootstrap.html :: header}"></div>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
	<title>Sorte.io - Apostas - Cadastro</title>
</head>
<header sec:authorize="isAuthenticated()">
	<div th:replace="~{fragments/navbar.html :: navbar}"></div>
</header>
<body class="bg-dark text-white">
	<div th:if="${alerta}" class="alert alert-danger alert-dismissible fade show" role="alert">
		<span th:inline="text">
			[[${alerta}]]
		</span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div th:if="${sucesso}" class="alert alert-danger alert-dismissible fade show" role="alert">
		<span th:inline="text">
			[[${sucesso}]]
		</span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="text-end mt-3 mx-3">
		<p class="fs-4 btn btn-outline-secondary checked py-3">
			<a th:inline="text" class="nav-link disabled">
				<i class="bi bi-wallet"> R$ [[${#numbers.formatDecimal(apostador.saldo, 0, 'POINT', 2, 'COMMA')}]]</i>
			</a>
		</p>
	</div>
	<div class="container mt-4 text-center">
		
		<form th:action="@{/apostas}" method="post" th:object="${aposta}">
			<input type="hidden" th:field="*{id}">
			
			<h1 class="display-3 text-center text-white pb-2">Cadastro Apostas</h1>
			<p class="lead text-center">Escolha de 6 a 10 números para cadastrar uma aposta</p>

			<div class="container pb-3">
				<div class="form-check py-2 px-1 form-check-inline" th:each=" n : ${#numbers.sequence(1, 60)}">
					<input type="checkbox" th:value="${n}" class="btn-check" th:id="${n}" th:name="checkboxes" autocomplete="off">
					<label class="btn btn-outline-success aposta-checkbox" th:attr="for=${n}" th:inline="text">[[${n}]]</label>
				</div>
			</div>

				<div class="form-floating">
					<select th:field="*{numSelecionados}" class="form-select" id="floatingSelect" aria-label="Floating label select example">
						<option value="" th:selected="${defaultAposta.numSelecionados==numSelecionados}">
							Selecione os números favoritos
						</option>
						<option th:each="n : ${apostasFavoritas}" th:value="${#strings.listJoin(n.numSelecionados, ',')}" th:inline="text" th:selected="${n.numSelecionados==numSelecionados}">
							Números: [[${n.numSelecionados}]]
						</option>
					</select>
					<label for="floatingSelect" class="text-dark">Apostas Favoritas</label>
				</div>

				<br>

				<div class="form-floating">
					<select th:field="*{numSorteio}" class="form-select" id="floatingSelect" aria-label="Floating label select example">
						<option value="" th:inline="text" th:selected="${defaultSorteio.id==numSorteio}">
							Selecione um sorteio
						</option>
						<option th:each="s : ${sorteiosAbertos}" th:value="${s.id}" th:inline="text" th:selected="${s.id==numSorteio}">
							Criado por: [[${s.criadoPor.nome}]] - Valor da premiação: [[${s.valPremiacao}]]
						</option>
					</select>
					<label for="floatingSelect" class="text-dark">Sorteios abertos</label>
				</div>

				<div class="text-center">
					<div class="form-check form-switch m-4">
						<input th:field="*{favorito}" class="form-check-input float-none" type="checkbox" role="switch" id="flexSwitchCheckDefault">
						<label class="form-check-label px-2" for="flexSwitchCheckDefault">Favorito</label>
					</div>
					<button type="submit" class="btn btn-success">Cadastrar Aposta</button>
				</div>
			</form>
	</div>

</body>
</html>
