<!DOCTYPE html>
<html 
    lang="en"
    xmlns="www.thymeleaf.org"
>
<head>
    <div th:replace="~{fragments/bootstrap.html :: header}"></div>
    <title>Cadastro Contolador</title>
</head>
<header>
    <div th:replace="~{fragments/navbar.html :: navbar}"></div>
</header>
<body>
    <br>
    <div class="container mt-5 mx-auto text-center">
        <h1>Cadastro Controlador</h1>
        <div class="d-flex justify-content-center">
            <form>
                <div class="mt-3 md-3 mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="nome" required class="form-control" id="nome">
                  </div>
                <div class="mt-3 md-3 mb-3">
                    <label for="cpf" class="form-label">CPF:</label>
                    <input type="number" required class="form-control" id="cpf">
                </div>  
                <div class="md-3 mb-3">
                  <label for="date" class="form-label">Data de Nascimento:</label>
                  <div class="input-group date" id="datepicker">
                        <input data-datepicker="" type="date" required class="form-control" id="dt_nascimento" >
                        </span>
                    </div>
                </div>  
                <div class="md-3 mb-3">
                  <label for="exampleInputEmail" class="form-label">E-mail:</label>
                  <input type="email" required class="form-control" id="email" >
                </div>
                <div class="md-4 mb-3">
                  <label for="exampleInputPassword" class="form-label">Senha:</label>
                  <input type="password" required class="form-control" id="senha">
                </div>
                <hr>
              </form>      
        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>        
    </div>
    
</body>
</html>