<!DOCTYPE html>
<html 
	lang="en"
	xmlns="www.thymeleaf.org"
>
<head>
	<div th:replace="~{fragments/bootstrap.html :: header}"></div>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
	<title>Sorte.io - Apostas</title>
</head>
<header>
	<div th:replace="~{fragments/navbar.html :: navbar}"></div>
</header>
<body class="bg-dark text-white">
	<div class="container">
		<div class="form-check form-check-inline" th:each=" n : ${numerosSort}">
			<input type="checkbox" class="btn-check" th:id="${n}" autocomplete="off">
			<label class="btn btn-outline-success" th:attr="for=${n}" th:text="${n}"></label>
		</div>
	</div>

	<!-- <div class="form-check form-check-inline" th:each=" n : ${numerosSort}">
		<input class="form-check-input" type="checkbox" th:value="${n}" th:text="' ' + ${n}">
	</div> -->
	<div class="fixed-bottom">
		<div th:replace="~{fragments/footer.html :: footer}"></div>
	</div>

</body>
</html>