<!DOCTYPE html>
<html 
    lang="en"
    xmlns="www.thymeleaf.org"
>
<head>
    <div th:replace="~{fragments/bootstrap.html :: header}"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Home</title>
</head>
<body>
    <div th:replace="~{fragments/navbar.html :: navbar}"></div>

    <div class="video-conteiner">
        <video autoplay loop muted>
            <source th:src="@{/videos/videocut.webm}" type="video/webm">
        </video>
    </div>

    
    


    <div th:replace="~{fragments/footer.html :: footer}"></div>

</body>
</html>