<!DOCTYPE html>
<html
		lang="en"
		xmlns="www.thymeleaf.org"
>
<head>
	<div th:replace="~{fragments/bootstrap.html :: header}"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
	<title>Sorte.io - Sorteio - Cadastro</title>
</head>
<header sec:authorize="isAuthenticated()">
	<div th:replace="~{fragments/navbar.html :: navbar}"></div>
</header>
<body class="bg-dark text-white">
	<div th:if="${alerta}" class="alert alert-danger alert-dismissible fade show" role="alert">
		<span th:inline="text">
			[[${alerta}]]
		</span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="container text-center mt-4">
		<div class="d-flex justify-content-center">

			<form th:action="@{/sorteios}" method="post" th:object="${sorteio}">
				<input type="hidden" th:field="*{id}">


				<h1 class="display-3 text-center text-white pb-2">Cadastro Sorteios</h1>

				<div class="text-center">
					<div class="w-auto mx-5 mb-3 md-3 mb-3">
						<label for="valPremiacao" class="form-label">Valor de Premiação</label>
						<input type="text" placeholder="R$" th:field="*{valPremiacao}" class="form-control" aria-label="Amount">
						<br>
					</div>
					<p class="alert alert-danger" th:if="${#fields.hasErrors('valPremiacao')}" th:errors="*{valPremiacao}" th:errorclass="error"></p>

					<div class="mx-5 md-3 mb-3">
						<label for="dtRealizacao" class="form-label">Data de Realização</label>
						<input type="datetime-local" th:field="*{dtRealizacao}" class="form-control" id="dt_Realizacao"><br>
						<p class="alert alert-danger" th:if="${#fields.hasErrors('dtRealizacao')}" th:errors="*{dtRealizacao}" th:errorclass="error">
						</p>
					</div>

					<button type="submit" class="btn btn-success">Cadastrar Sorteio</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
