<!DOCTYPE html>
<html
		lang="en"
		xmlns="www.thymeleaf.org"
>
<head>
	<div th:replace="~{fragments/bootstrap.html :: header}"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
	<title>Sorte.io - Sorteio - Cadastro</title>
</head>
<header sec:authorize="isAuthenticated()">
	<div th:replace="~{fragments/navbar.html :: navbar}"></div>
</header>
<body class="bg-dark text-white">

	<div class="container text-center mt-4">
		<div th:text="${mensagem}"></div>
		<div class="d-flex justify-content-center">

			<form th:action="@{/sorteios}" method="post" th:object="${sorteio}">
				
				<input type="hidden" th:field="*{id}">

				<div class="container">
					<div class="text-end invisible">
						<a class="text-center btn btn-success btn-lg" >Escondido</a>
					</div> 
	
					<h1 class="display-3 text-center text-white pb-2">Cadastro Sorteios</h1>
					<p class="lead text-center">Selecione 6 números para cadastrar um sorteio</p>
					<div class="form-check form-check-inline" th:each=" n : ${#numbers.sequence(1, 60)}">
						<input type="checkbox" th:value="${n}" class="btn-check" th:id="${n}" th:name="checkboxes" autocomplete="off">
						<label class="btn btn-outline-success aposta-checkbox" th:attr="for=${n}" th:text="${n}"></label>
					</div>
				</div>
				
				<div class="text-center">
					<div class="mx-5 md-3 mb-3">
						<label for="dtRealizacao" class="form-label">Data de Realização</label>
						<input type="datetime-local" th:field="*{dtRealizacao}" class="form-control" id="dt_Realizacao"><br>
						<p class="alert alert-danger" th:if="${#fields.hasErrors('dtRealizacao')}" th:errors="*{dtRealizacao}" th:errorclass="error">
						</p>
					</div>

					<div class="w-auto mx-5 input-group mb-3 md-3 mb-3">
						<div class="input-group-prepend">
						  <span class="input-group-text">$</span>
						</div>
						<input type="text" th:field="*{valPremiacao}" class="form-control" aria-label="Amount (to the nearest dollar)">
						<div class="input-group-append">
							<span class="input-group-text">.00</span>
						</div>
						<br>
					</div>
					<p class="alert alert-danger" th:if="${#fields.hasErrors('valPremiacao')}" th:errors="*{valPremiacao}" th:errorclass="error"></p>

					<button type="submit" class="btn btn-success">Cadastrar Sorteio</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
