<!DOCTYPE html>
<html
		lang="en"
		xmlns="www.thymeleaf.org"
>
<head>
	<div th:replace="~{fragments/bootstrap.html :: header}"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
	<title>Sorte.io - Sorteio - Cadastro</title>
</head>
<header sec:authorize="isAuthenticated()">
	<div th:replace="~{fragments/navbar.html :: navbar}"></div>
</header>
<body class="bg-dark text-white">

	<div class="container mt-4">
		<div class="d-flex justify-content-center">

			<div th:text="${Teste}"></div>

			<form th:action="@{/sorteios}" method="post" th:object="${sorteio}">
				
				<input type="hidden" th:field="*{id}">

				<div class="container">
					<div class="text-end invisible">
						<a class="text-center btn btn-success btn-lg" >Escondido</a>
					</div> 
	
					<h1 class="display-3 text-center text-white pb-2">Cadastro Sorteios</h1>
					<p class="lead text-center">Escolha de 6 a 10 números para cadastrar um sorteio</p>
					<div class="form-check form-check-inline" th:each=" n : ${numerosSort}">
						<input type="checkbox" th:value="${n}" class="btn-check" th:id="${n}" th:name="checkboxes" autocomplete="off">
						<label class="btn btn-outline-success aposta-checkbox" th:attr="for=${n}" th:text="${n}"></label>
					</div>
				</div>
				
				<div class="text-center">
					<div class="md-3 mb-3">
						<label for="dtNascimento" class="form-label">Data de Realização</label>
						<input type="datetime-local" th:field="*{dtRealizacao}" class="form-control" id="dt_Realizacao"><br>
						<p
								class="alert alert-danger"
								th:if="${#fields.hasErrors('dtRealizacao')}"
								th:errors="*{dtRealizacao}"
								th:errorclass="error">
						</p>
					</div>

					<button type="submit" class="btn btn-success">Cadastrar Sorteio</button>
				</div>
			</form>
		</div>
	</div>

			<!-- <form th:action="@{/controladores}" method="post" th:object="${controlador}">
				<input type="hidden" th:field="*{id}">

				<div class="mt-3 md-3 mb-3">
					<label for="nome" class="form-label">Nome:</label>
					<input type="text" th:field="*{nome}" class="form-control" id="nome"><br>
					<p class="alert alert-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:errorclass="error">
					</p>
				</div>

				<div class="mt-3 md-3 mb-3">
					<label for="cpf" class="form-label">CPF:</label>
					<input type="text" th:field="*{cpf}" class="form-control" id="cpf" placeholder="000.000.000-00"><br>
					<p class="alert alert-danger" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" th:errorclass="error"></p>
				</div>

				<div class="md-3 mb-3">
					<label for="dtNascimento" class="form-label">Data de Nascimento:</label>
					<input type="date" th:field="*{dtNascimento}" class="form-control" id="dt_nascimento"><br>
					<p
							class="alert alert-danger"
							th:if="${#fields.hasErrors('dtNascimento')}"
							th:errors="*{dtNascimento}"
							th:errorclass="error">
					</p>
				</div>

				<div class="md-3 mb-3">
					<label for="username" class="form-label">Username:</label>
					<input type="text" th:field="*{nick}" class="form-control" id="nick" name="username"><br>
					<p class="alert alert-danger" th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}" th:errorclass="error"></p>
				</div>

				<div class="md-4 mb-3">
					<label for="exampleInputPassword" class="form-label">Senha:</label>
					<input type="password" th:field="*{senha}" class="form-control" id="senha" name="password"><br>
					<p class="alert alert-danger" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" th:errorclass="error"></p>
				</div>

				<hr>

				<button type="submit" class="btn btn-success">Cadastrar Sorteio</button>
			</form> -->

		</div>

	</div>
</body>
</html>
