<!DOCTYPE html>
<html 
	lang="en"
	xmlns="www.thymeleaf.org"
>
<head>
	<div th:replace="~{fragments/bootstrap.html :: header}"></div>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
	<title>Sorte.io - Sorteios</title>
</head>
<header>
	<div th:replace="~{fragments/navbar.html :: navbar}"></div>
</header>
<body class="bg-dark text-white">
	<div class="container mt-4 text-center">
		<h1>Meus Sorteios</h1>
		<br>
		
		<div th:each="s : ${meusSorteios}" th:inline="text">
			<p th:inline="text">
				[[${s.valPremiacao}]] - Quantidade de participantes [[${s.apostas.size()}]]
				
			</p>
		</div>
	</div>
	<div class="fixed-bottom">
		<div th:replace="~{fragments/footer.html :: footer}"></div>
	</div>

</body>
</html>